.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &.-mt {
    margin-top: 72px;
  }

  &.-mb {
    margin-bottom: 72px;
  }

  .details__centered {
    max-width: 700px;
    width: 100%;

    h1 {
      max-width: 900px;
    }
  }
}
