.react-masonry {
  min-height: 100vh;
  margin: 0 -18px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  img {
    animation: fadeIn 0.2s ease-out;
    pointer-events: none;
  }

  .react-masonry__image {
    position: absolute;
    max-width: 100%;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media screen and (min-width: 1024px) {
      &:hover {
        z-index: 100;
        .react-masonry__image-hover {
          border: 8px solid #f639bc;
        }
      }
    }
  }

  .react-masonry__image-hover {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.1s ease-in-out;

    border: 0px solid #f639bc;
  }

  .react-masonry__image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;

    .react-masonry__group {
      position: relative;
      cursor: pointer;

      .react-masonry__group-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      @media screen and (min-width: 1024px) {
        &:hover {
          z-index: 100;
          .react-masonry__image-hover {
            border: 8px solid #f639bc;
          }
        }
      }
    }
  }
}
