.cardFlip {
  perspective: 1000px;
  max-width: 300px;

  @media (min-width: 661px) {
    cursor: pointer;

    &:hover {
      .cardFlipCard {
        transform: rotateY(180deg);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  .cardFlipCard {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    min-height: 180px;

    max-width: 300px;
    user-select: none;
    text-align: center;

    position: relative;

    transition: transform 0.5s ease-in-out;

    &.-closeToTop {
      @media (max-width: 660px) {
        transform: rotateY(180deg);
        transition: transform 0.3s ease-in-out;
      }
    }

    h2 {
      color: white;
      font-size: 32px;
      margin-bottom: 12px;
    }
  }

  .cardFlipCardFront,
  .cardFlipCardBack {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #55869e;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 16px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .cardFlipCardBack {
    background-color: lightblue;
    transform: rotateY(180deg);
  }
}
