.header {
  padding: 0;
  margin-bottom: 16px;
  margin-left: -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-left: -4px;
    padding: 16px 0;
  }

  .header__left {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 18px;

    color: white;
    transition: 0.1s ease-in-out;

    span {
      color: var(--primary);
    }

    img {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
  }

  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;

    .header__text-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -8px;

      a {
        padding: 8px;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      padding: 12px 0;
      transition: 0.1s ease-in-out;
    }
  }
}
