.footer {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer__heading {
    font-size: 24px;
    font-weight: 700;
    max-width: 680px;
    text-align: center;
    margin-bottom: 24px;
    text-transform: lowercase;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      margin-bottom: 36px;
    }
  }

  h2 {
    font-size: 16px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 36px 0 48px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin: 36px 0 72px;
      margin-bottom: px;
    }

    font-weight: 700;

    a {
      text-align: center;
      width: 160px;
      padding: 16px 36px;
    }
  }

  .footer__copyright {
    font-size: 12px;
  }
}
